.ddev
recipes
tmp
vendor
web/core
web/libraries
web/modules/contrib
web/sites
web/themes/contrib
web/.csslintrc
web/.es*
web/.ht*
web/autoload.php
web/index.php
web/install.txt
web/readme.md
web/update.php
.editorconfig
.gitattributes
readme.md