{#  callout.twig is "included" in bikeclub/templates/node--view--banner.html.twig #}


<article class="banner">
  <div class="layout-bg-section">
    <div class="layout-bg-row">
      <div class="layout-bg-bg-container">

        <section class="solo-clear solo-block block-layout-builder block-field-blocknodebannerbanner-image">
          <div class="media-entity field field--name-banner-image field--type-entity-reference field--label-hidden field__items">

          <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
            <div class="field__item">
              <img loading="lazy" src="https://bikeclub.ddev.site/sites/default/files/styles/banner/public/images/2025/IMG_0126%20%28For%20web%29.JPG.webp?itok=32HCMFB3" width="2015" height="705" alt="Grand Tetons" class="solo-image image-style-banner">
            </div>
          </div>
          </div>
        </section>

        <section class="solo-clear solo-block block-layout-builder block-field-blocknodebannerfield-text">
          <div class="field banner-textbox field--name-field-text field--type-text-long field--label-visually_hidden">
            <div class="field__item"><h3>North Shore Cyclists</h3>
              <p>Enjoy riding with us?</p>
            </div>
          </div>
        </section>

        <section class="solo-clear solo-block block-layout-builder block-field-blocknodebannerfield-button">

          <div class="field banner-textbox field--name-field-button field--type-link field--label-visually_hidden">
            <div class="field__item">
              <a href="/amesbury-elementary-school">Go to Membership form</a>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>

</article>