
/* User account menu has dark text on dark background. Change to header bgcolor. */
.header-inner nav .navigation__menubar > li > button,
.header-inner nav .navigation__menubar > li > a,
.solo-inner .navigation__menubar-account li a {
  background-color: inherit; /* white;*/
}

.site-logo-img {
  height:100px!important;
}

h1.page-title-text {
  padding-block:0!important;
}

/* There's a cumulative effect so we get more than 400 */
.page-wrapper h2 {
  font-weight: 400!important;
}

/* Fix layout builder region overlap */ 
.layout--twocol-section > .layout__region {
  flex: 0 1 100%;
  padding: 0 1rem 0 1rem!important;
}

/* TEASERS */
.views-field-title a {
  font-weight: bold;
}
hr {
  margin-block: 0;
} 

/* Add bold and larger size */
label, .field__label {
  font-weight: 600;
  font-size: 120%;
}
.field {
  margin-top: 0.5rem;
}

/* Style the select options in bikeclub-solo theme cancellation color form */
select option[value='#ffb5ba'] { background-color: #ffb5ba; color: #ffffff;}
select option[value='#be0032'] { background-color: #be0032; color: #ffffff;}
select option[value='#f38400'] { background-color: #f38400; color: #ffffff;}
select option[value='#f3c300'] { background-color: #f3c300; color: #ffffff;}
select option[value='#008856'] { background-color: #008856; color: #ffffff;}
select option[value='#00a1c2'] { background-color: #00a1c2; color: #ffffff;}
select option[value='#9a4eae'] { background-color: #9a4eae; color: #ffffff;}
select option[value='#9a4eae'] { background-color: #9a4eae; color: #ffffff;}
select option[value='#ffb7a5'] { background-color: #ffb7a5; color: #ffffff;}
select option[value='#e25822'] { background-color: #e25822; color: #ffffff;}
select option[value='#f6a600'] { background-color: #f6a600; color: #ffffff;}
select option[value='#dcd300'] { background-color: #dcd300; color: #ffffff;}
select option[value='#8db600'] { background-color: #8db600; color: #ffffff;}
select option[value='#27a64c'] { background-color: #27a64c; color: #ffffff;}
select option[value='#008882'] { background-color: #008882; color: #ffffff;}
select option[value='#0085a1'] { background-color: #0085a1; color: #ffffff;}
select option[value='#30267a'] { background-color: #30267a; color: #ffffff;}
select option[value='#870074'] { background-color: #870074; color: #ffffff;}
select option[value='#ce4676'] { background-color: #ce4676; color: #ffffff;}
