.summary-container {
  justify-content: space-around; 
  margin-bottom: 1.5rem; 
}
.summary {
  border-bottom: 1px solid #808080;
  position: relative;
  width: auto;
}
.summary .summary-title {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  line-height: 1.75rem;
}
.summary .summary-image {
  float: left;
  margin-right: 10px;
}
.summary .summary-content {
  display: contents;
  padding-right: 1rem;
}
.summary .summary-content p {
  line-height: 1.6;
}
.summary .summary-content .field {
  /*margin-block-end: 0;*/
}

.media--type-image-crop-4-3,
.media--type-image-crop-16-9 {
  margin: -0.2rem 0.5rem 1.5rem 0.5rem!important;
}

@media(max-width: 767px) {
  .page-wrapper h2 {
    font-size: 22px;
  }
  .summary .summary-title {
    letter-spacing: 0;
    line-height: 1.2rem;
    padding: 0.75rem 0 0 0rem;
    margin: 0 0 1rem 0; 
  }
  .summary .summary-content {
    font-size: .9rem!important;
    padding: 0 0.5rem;
  }
  .summary .summary-image {
    float: none;
    display: inline-block;
  }
  img {
   margin-bottom: -0.5rem!important;
  }
}
