.ucla-card__event-image-link{
  display:inline-block;
  width:100%;
}
.ucla-card__event-body{
  display:flex;
  gap:1rem;
  padding:1.5rem;
}
.ucla-card__event-body .ucla-card__event-date{
  font-weight:700;
  text-align:center;
}
.ucla-card__event-body .ucla-card__event-location,
.ucla-card__event-body .ucla-card__event-time{
  display:flex;
  align-items:center;
}
.ucla-card__event-body .ucla-card__event-time{
  margin-bottom:6px
}
.ucla-card__event-body .ucla-card__event-location{
  margin-bottom:1rem
}
.ucla-card__event-body .ucla-card__event-date .ucla-card__event-month{
  font-size:1.25rem;
  display:block;
}
.ucla-card__event-body .ucla-card__event-date .ucla-card__event-day{
  font-size:2.25rem;
  display:block;
}
.ucla-card__event-body .ucla-card__title{
  font-size:1.5rem;
  font-weight:700;
  margin:0 0 1rem;
}
.ucla-card__event-body .ucla-card__title-link{
  color:#00598c;
  text-decoration:none;
}
.ucla-card__event-body .ucla-card__title-link:hover{
  color:#0079bf;
}
.ucla-card__event-body .ucla-card__title-link:active{
  color:#003b5c;
}

.ucla-card__event-body .ucla-card__event-location span,
.ucla-card__event-body .ucla-card__event-time span{
  font-size:.75rem;
  font-weight:700;
  color:#666;
}
.ucla-card__event-body .ucla-card__event-location svg,
.ucla-card__event-body .ucla-card__event-time svg{
  margin-right:10px
}



