.bikeclub-callout{
  padding:.75rem 1.5rem .75rem 1.25rem;
  font-size:1rem;
  line-height:1.25;
  font-weight:700;
  border-left:4px solid #ffd100;
  display:flex;
  flex-direction:column
}
.bikeclub-callout .bikeclub-callout__number{
  font-size:2.5rem;
  margin-bottom:4px;
}
.bikeclub-callout .bikeclub-callout__body{
  display:flex;
  flex-direction:column;
  font-size:1rem
}
.bikeclub-callout .bikeclub-callout__body cite{
  font-size:.875rem;
  margin-top:4px;
  color:#666
}
.bikeclub-table{
  width:100%
}
.bikeclub-table td,.bikeclub-table th{
  border:1px solid #ccc;
  border-width:0;
}

@media (min-width:768px){
  .bikeclub-callout{
    padding:1rem 2rem 1rem 1.75rem;
    font-size:1.25rem;
    line-height:1.2;
    flex-direction:row;
    align-items:center;
  }
  .bikeclub-callout .bikeclub-callout__number{
    margin-bottom:0;
    margin-right:1rem;
    font-size:3.375rem;
  }
  .bikeclub-callout .bikeclub-callout__body{
    font-size:1.25rem
  }
}
