/* ----------------------------------------------------------
   Olivero  - set colors consistent with theme
   Default text is dark so make it white.
   Expand calendar width beyond the default content region
  -----------------------------------------------------------*/


 /* Olivero main region is too narrow for calendar */
@media(min-width: 49rem) {
  .calendar-view-table {
    width: 130%;
    margin-left: -85px;
  }
}
