.card:after,
.card:before {
  content: "";
  display: table;
  clear: both;
 }
.card {
  margin:0.5rem;
  width:auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-image {
  width:100%; 
  padding:0;
}
.card-text { 
  line-height: 24px;
  font-size: 14px;
  padding-left:1rem;
  padding-right:1rem;
}
.height-auto {
  height:auto;
}
.height-100 {
  height:100%;
}
.bg-white {
	background-color:white;
}
.bg-light-gray {
	background-color:#FAF8F7;
}